{% extends 'base.html.twig' %}

{% block title %}ActivityType{% endblock %}

{% block body %}
    <h1>ActivityType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activity_type.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ activity_type.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('activity_type_index') }}">back to list</a>

    <a href="{{ path('activity_type_edit', {'id': activity_type.id}) }}">edit</a>

    {{ include('activity_type/_delete_form.html.twig') }}
{% endblock %}