{% extends 'base.html.twig' %}

{% block title %}Activity{% endblock %}

{% block body %}

    <h1>Activty/Questin 0</h1>

    Activity 0 ID = {{ id0 }}
    <br>
    answer0 = {{ answer0 }}
    <br>
    {{ message0 }}

    <hr>
    <h1>Activty/Questin 1</h1>

    Activity 1 ID = {{ id1 }}
    <br>
    answer1 = {{ answer1 }}
    <br>
    {{ message0 }}

{% endblock %}